<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!--
        在页面上可以用@Styles.Render("~/Content/css") 来加载css，但是首先要在App_Start 里面BundleConfig.cs 文件里面 添加要包含的css文件
        Styles.Render / Scripts.Render 用来加载BundleConfig.cs中预定义的CSS/JS
    -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- 创建link -->
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                    <li>@Html.ActionLink("用户", "Index", "User")</li>
                </ul>

                <!--
                    1. Html.Partial通常呈现的是静态内容，如果不指定的Partial方法中绑定的参数，默认为宿主页面的Model类型，
                    因此如果Partial页面中的Model和主页面的Model类型不一致的话，一定要指定 Partial方法中绑定的参数，不然会报错。

                    2. Html.Action会调用Action方法，并且会返回一个View或者PartialView，或者Json等
                -->
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <!-- 渲染JS/CSS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <!-- 布局页面还有节（Section）的概念，也就是说，如果某个视图模板中定义了一个节，那么可以把它单独呈现出来 -->
    @RenderSection("scripts", required: false)
</body>
</html>
